body{
  background-color: #fafafa;

}
main{
  background-color:  #fafafa;
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 100px;
min-width: 375px;
}
section{
  background-color:#fafafa;
  width:850px;
  height: 700px;
  margin: auto;



}
.left{

  width: 300px;
  height: 400px;
  float: left;
}
.right{

  width: 400px;
  height: 500px;
  float: right;

}
article{
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #e6e6e6;
  width: 400px;


}
.logo{
margin-left: 120px;
}
a{
color: #083569;

}
footer{
  background-color:#fafafa;
  margin-top: 30px;
  width: 100%x;
  height: 60px;
  clear: both;
}
.copyright{
  float: right;
  margin: 0px;
}
p{
  text-align: center;
  font-family: sans-serif;
font-size: 14px;
color: #9b9999;
}
.info{
  border-style: solid;
  border-width: 1px;
  border-color:#efefef;
  background-color:#fafafa;
  text-align: left;
  width: 300px;
  height: 20px;
  margin: 10px auto;
  padding: 5px;
  color: #9b9999;
  font-size: 12px;
  border-radius: 2px;

}
.button{
  color: white;
  background-color: #3897f0;
  border-radius: 5px;
  margin: 10px auto;
  width: 300px;
  height: 25px;
  font-size: 14px;
  padding-top: 16px;
}
h1{
  text-align: center;
  color: #9b9999;
  font-family: sans-serif;
}
.instagramlogo{
width:150px;
height:50px;

}
.account{
  margin-top: 10px;
  padding-top: 25px;
  padding-bottom:  25px;
}
.stores{
  margin-left: 40px;
  display: inline-block;
  width: 400px;
}

@media screen and (max-width: 860px){
  .left{
    display: none;
  }
  main{
    width: 100%;
  }
  article{
    width: 100%;
  }
  section{
    width: 100%;
  }
  .right{

    float: none;
    margin: 0 auto;

  }
  button{
    width: 100%;
  }
  footer{
    width: 100%;
    text-align: center;
  }
  .copyright{
    text-align: center;
    float: none;
  }
}
@media screen and (max-width: 415px){
article{
  border-color: #e6e6e6;
  background-color: #fafafa;
  border: none;
}

}
